﻿
@{
    ViewBag.Title = "Index";
}

<h2>SG HR Portal</h2>

<h3>@Html.ActionLink("Display Resumes", "Display", "Home")</h3>
<h3>@Html.ActionLink("Submit Resume", "Apply", "Home")</h3>


<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Policies
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">@Html.ActionLink("View Policies", "DisplayPolicy", "Home")</a></li>
        <li><a href="#">@Html.ActionLink("Manage Policies", "ManagePolicies", "Home")</a></li>
        <li><a href="#">@Html.ActionLink("Manage Categories", "ViewCategory", "Home")</a></li>
       
    </ul>
</div>


